In [1]:
import numpy as np
import pandas as pd
np.set_printoptions(threshold=np.inf)

from sklearn import preprocessing

In [2]:
a = pd.read_csv('train.csv')
# a
b = pd.read_csv('test.csv')
# b

In [3]:
print(a.shape)
print(b.shape)

(4209, 378)
(4209, 377)

In [4]:
a.info()
a.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

,ID,Y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
b.info()
b.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 377 entries, ID to X385
dtypes: int64(369), object(8)
memory usage: 12.1+ MB

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4211.039202,0.019007,0.000238,0.074364,0.061060,0.427893,0.000713,0.002613,0.008791,0.010216,...,0.325968,0.049656,0.311951,0.019244,0.011879,0.008078,0.008791,0.000475,0.000713,0.001663
std,2423.078926,0.136565,0.015414,0.262394,0.239468,0.494832,0.026691,0.051061,0.093357,0.100570,...,0.468791,0.217258,0.463345,0.137399,0.108356,0.089524,0.093357,0.021796,0.026691,0.040752
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2115.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4202.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6310.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8416.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
print(a.isnull().values.any())
print(b.isnull().values.any())

False
False

In [7]:
targets = a['Y']
a = a.drop('Y', axis = 1)
print(a.shape)
print(b.shape)

(4209, 377)
(4209, 377)

In [8]:
print(targets.min())
print(targets.max())
print(len(range(70, 270, 5)))

72.11
265.32
40

In [9]:
targets = targets.values

In [10]:
bin1 = ((targets > 70) & (targets < 75)).astype(int)
bin2 = ((targets > 75) & (targets < 80)).astype(int)
bin3 = ((targets > 80) & (targets < 85)).astype(int)
bin4 = ((targets > 85) & (targets < 90)).astype(int)
bin5 = ((targets > 90) & (targets < 95)).astype(int)
bin6 = ((targets > 95) & (targets < 100)).astype(int)
bin7 = ((targets > 100) & (targets < 105)).astype(int)
bin8 = ((targets > 105) & (targets < 110)).astype(int)
bin9 = ((targets > 110) & (targets < 115)).astype(int)
bin10 = ((targets > 115) & (targets < 120)).astype(int)
bin11 = ((targets > 120) & (targets < 125)).astype(int)
bin12 = ((targets > 125) & (targets < 130)).astype(int)
bin13 = ((targets > 130) & (targets < 135)).astype(int)
bin14 = ((targets > 135) & (targets < 140)).astype(int)
bin15 = ((targets > 140) & (targets < 145)).astype(int)
bin16 = ((targets > 145) & (targets < 150)).astype(int)
bin17 = ((targets > 150) & (targets < 155)).astype(int)
bin18 = ((targets > 155) & (targets < 160)).astype(int)
bin19 = ((targets > 160) & (targets < 165)).astype(int)
bin20 = (targets > 165).astype(int)

In [11]:
a['new_y']=''

In [12]:
for i in range(4209):
    if (targets[i]>70) & (targets[i] <= 75):
        a.loc[i,['new_y']] = 'bin1'
    if (targets[i]>75) & (targets[i] <= 80):
        a.loc[i,['new_y']] = 'bin2'
    if (targets[i]>80) & (targets[i] <= 85):
        a.loc[i,['new_y']] = 'bin3'
    if (targets[i]>85) & (targets[i] <= 90):
        a.loc[i,['new_y']] = 'bin4'
    if (targets[i]>90) & (targets[i] <= 95):
        a.loc[i,['new_y']] = 'bin5'
    if (targets[i]>95) & (targets[i] <= 100):
        a.loc[i,['new_y']] = 'bin6'
    if (targets[i]>100) & (targets[i] <= 105):
        a.loc[i,['new_y']] = 'bin7'
    if (targets[i]>105) & (targets[i] <= 110):
        a.loc[i,['new_y']] = 'bin8'
    if (targets[i]>110) & (targets[i] <= 115):
        a.loc[i,['new_y']] = 'bin9'
    if (targets[i]>115) & (targets[i] <= 120):
        a.loc[i,['new_y']] = 'bin10'
    if (targets[i]>120) & (targets[i] <= 125):
        a.loc[i,['new_y']] = 'bin11'
    if (targets[i]>125) & (targets[i] <= 130):
        a.loc[i,['new_y']] = 'bin12'
    if (targets[i]>130) & (targets[i] <= 135):
        a.loc[i,['new_y']] = 'bin13'
    if (targets[i]>135) & (targets[i] <= 140):
        a.loc[i,['new_y']] = 'bin14'
    if (targets[i]>140) & (targets[i] <= 145):
        a.loc[i,['new_y']] = 'bin15'
    if (targets[i]>145) & (targets[i] <= 150):
        a.loc[i,['new_y']] = 'bin16'
    if (targets[i]>150) & (targets[i] <= 155):
        a.loc[i,['new_y']] = 'bin17'
    if (targets[i]>155) & (targets[i] <= 160):
        a.loc[i,['new_y']] = 'bin18'
    if (targets[i]>160) & (targets[i] <= 165):
        a.loc[i,['new_y']] = 'bin19'
    if (targets[i]>165) & (targets[i] <= 170):
        a.loc[i,['new_y']] = 'bin20'
    if (targets[i]>170): 
        a.loc[i,['new_y']] = 'bin21'

In [13]:
a['new_y']

0       bin13
1        bin4
2        bin2
3        bin3
4        bin2
5        bin5
6       bin12
7        bin5
8        bin8
9       bin12
10       bin7
11       bin6
12       bin3
13       bin5
14       bin6
15       bin5
16       bin8
17       bin9
18       bin4
19       bin5
20       bin5
21       bin5
22       bin8
23      bin11
24       bin3
25       bin5
26       bin7
27       bin4
28       bin5
29      bin12
        ...
4179     bin4
4180     bin5
4181     bin5
4182     bin5
4183     bin6
4184     bin8
4185     bin8
4186    bin13
4187     bin6
4188     bin7
4189     bin7
4190     bin4
4191     bin4
4192     bin7
4193     bin8
4194     bin5
4195     bin4
4196     bin6
4197     bin4
4198     bin6
4199     bin4
4200     bin8
4201     bin8
4202    bin11
4203     bin4
4204     bin8
4205     bin8
4206     bin8
4207     bin4
4208     bin9
Name: new_y, Length: 4209, dtype: object

In [14]:
# bins = pd.concat([bin1,bin2,bin3,bin4,bin5,bin6,bin7,bin8,bin9,bin10,
#                  bin11,bin12,bin13,bin14,bin15,bin16,bin17,bin18,bin19,bin20], axis=1)
# bins.shape

In [15]:
labels = a['new_y']

In [16]:
lb = preprocessing.LabelBinarizer() #Calling the label binarizer function

In [17]:
lb.fit(a['X0']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X0']) #Applying the transform to the column
type_x0 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X0']) #Applying the same transformation to test data
type_y0 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x0.shape) #print just to check if both the column sizes match for train and test
print(type_y0.shape)

(4209, 47)
(4209, 47)

In [18]:
lb.fit(a['X1']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X1']) #Applying the transform to the column
type_x1 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X1']) #Applying the same transformation to test data
type_y1 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x1.shape) #print just to check if both the column sizes match for train and test
print(type_y1.shape)

(4209, 27)
(4209, 27)

In [19]:
lb.fit(a['X2']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X2']) #Applying the transform to the column
type_x2 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X2']) #Applying the same transformation to test data
type_y2 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x2.shape) #print just to check if both the column sizes match for train and test
print(type_y2.shape)

(4209, 44)
(4209, 44)

In [20]:
lb.fit(a['X3']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X3']) #Applying the transform to the column
type_x3 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X3']) #Applying the same transformation to test data
type_y3 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x3.shape) #print just to check if both the column sizes match for train and test
print(type_y3.shape)

(4209, 7)
(4209, 7)

In [21]:
lb.fit(a['X4']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X4']) #Applying the transform to the column
type_x4 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X4']) #Applying the same transformation to test data
type_y4 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x4.shape) #print just to check if both the column sizes match for train and test
print(type_y4.shape)

(4209, 4)
(4209, 4)

In [22]:
lb.fit(a['X5']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X5']) #Applying the transform to the column
type_x5 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X5']) #Applying the same transformation to test data
type_y5 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x5.shape) #print just to check if both the column sizes match for train and test
print(type_y5.shape)

(4209, 29)
(4209, 29)

In [23]:
lb.fit(a['X6']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X6']) #Applying the transform to the column
type_x6 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X6']) #Applying the same transformation to test data
type_y6 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x6.shape) #print just to check if both the column sizes match for train and test
print(type_y6.shape)

(4209, 12)
(4209, 12)

In [24]:
lb.fit(a['X8']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X8']) #Applying the transform to the column
type_x8 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X8']) #Applying the same transformation to test data
type_y8 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x8.shape) #print just to check if both the column sizes match for train and test
print(type_y8.shape)

(4209, 25)
(4209, 25)

In [25]:
mainx_df = pd.concat([a, type_x0, type_x1, type_x2, type_x3, type_x4, type_x5, type_x6, type_x8], axis = 1)

mainx_df.drop(labels = ['new_y','X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8','X11','X93','X107', 'X233', 'X235' ,
                        'X268','X289', 'X290' ,'X293', 'X297','X330' ,'X347'], axis = 1, inplace = True)

print(a.shape)
print(mainx_df.shape)
# mainx_df

(4209, 378)
(4209, 552)

In [28]:
mainy_df = pd.concat([b, type_y0, type_y1, type_y2, type_y3, type_y4, type_y5, type_y6, type_y8], axis = 1)

mainy_df.drop(labels = ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8','X11','X93','X107', 'X233', 'X235' ,
                        'X268','X289', 'X290' ,'X293', 'X297','X330' ,'X347'], axis = 1, inplace = True)

print(b.shape)
print(mainy_df.shape)
# mainy_df

(4209, 377)
(4209, 552)

In [29]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(mainx_df)

mainx_df = scaler.transform(mainx_df)
mainy_df = scaler.transform(mainy_df)

In [30]:
# targets = targets.astype(float)

In [31]:
# from sklearn.datasets import load_digits
# from sklearn.decomposition import FastICA

In [32]:
# X, _ = load_digits(return_X_y=True)
# transformer = FastICA(n_components=10,random_state=0)
# X_transformed = transformer.fit_transform(X)
# X_transformed.shape

In [33]:
# train_x = mainx_df[:3500]
# train_y = targets[:3500]
# test_x = mainx_df[3500:]
# test_y = targets[3500:]

In [34]:
# print(train_x.shape)
# print(train_y.shape)

In [35]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, LogisticRegression
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error, r2_score, confusion_matrix, average_precision_score, classification_report
seed = 100

In [36]:
log_cv = KFold(n_splits=10,random_state=seed,shuffle=True)
log_avg = 0
i=1
print(0)
for train, test in log_cv.split(mainx_df,labels):    
    x_train = mainx_df[train] 
    x_valid = mainx_df[test]
    y_train = labels.values[train]
    y_valid = labels.values[test]
    print(x_train.dtype, y_train.dtype)
    print(x_valid.dtype, y_valid.dtype)
    
    log = LogisticRegression(C=10 ,  penalty = 'l2' ,random_state=0, solver='lbfgs', multi_class='multinomial')
    log.fit(x_train, y_train)
    log_prediction = log.predict(x_valid)
    log_r2 = log.score(x_valid,y_valid)
    log_avg = log_avg + log_r2
    print('Accuracy score for Log-Regression = ',log_r2)
    i+=1
print('Average Accuracy score for Logistic Regression = ',log_avg/10)

0
float64 object
float64 object
Accuracy score for Log-Regression =  0.2850356294536817
float64 object
float64 object
Accuracy score for Log-Regression =  0.31116389548693585
float64 object
float64 object
Accuracy score for Log-Regression =  0.2921615201900237
float64 object
float64 object
Accuracy score for Log-Regression =  0.33729216152019004
float64 object
float64 object
Accuracy score for Log-Regression =  0.32066508313539194
float64 object
float64 object
Accuracy score for Log-Regression =  0.38717339667458434
float64 object
float64 object
Accuracy score for Log-Regression =  0.38004750593824227
float64 object
float64 object
Accuracy score for Log-Regression =  0.34679334916864607
float64 object
float64 object
Accuracy score for Log-Regression =  0.33729216152019004
float64 object
float64 object
Accuracy score for Log-Regression =  0.3547619047619048
Average Accuracy score for Logistic Regression =  0.33523866078497905

In [ ]:
sns.boxplot(x="", y="total_bill", hue="smoker",data=tips, palette="coolwarm")