In [1]:
import tensorflow as tf

from keras.layers import Dense, Activation

from keras.models import Sequential

import numpy as np
import pandas as pd
import io
from sklearn import preprocessing
from keras import regularizers
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from sklearn.metrics import mean_squared_error as mse
# from sklearn.model_selection import KFold
from keras.layers import Dropout
from keras.layers.normalization import BatchNormalization
from sklearn.preprocessing import StandardScaler

Using TensorFlow backend.

In [2]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train (5).csv

In [0]:
a = pd.read_csv(io.StringIO(uploaded['train.csv'].decode('utf-8')))
# a

In [4]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test (4).csv

In [0]:
b = pd.read_csv(io.StringIO(uploaded['test.csv'].decode('utf-8')))
# b

In [6]:
print(a.shape)
print(b.shape)

(4209, 378)
(4209, 377)

In [7]:
a.info()
a.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

,ID,Y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
b.info()
b.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 377 entries, ID to X385
dtypes: int64(369), object(8)
memory usage: 12.1+ MB

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4211.039202,0.019007,0.000238,0.074364,0.061060,0.427893,0.000713,0.002613,0.008791,0.010216,...,0.325968,0.049656,0.311951,0.019244,0.011879,0.008078,0.008791,0.000475,0.000713,0.001663
std,2423.078926,0.136565,0.015414,0.262394,0.239468,0.494832,0.026691,0.051061,0.093357,0.100570,...,0.468791,0.217258,0.463345,0.137399,0.108356,0.089524,0.093357,0.021796,0.026691,0.040752
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2115.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4202.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6310.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8416.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
print(a.isnull().values.any())
print(b.isnull().values.any())

False
False

In [0]:
lb = preprocessing.LabelBinarizer() #Calling the label binarizer function

In [11]:
lb.fit(a['X0']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X0']) #Applying the transform to the column
type_x0 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X0']) #Applying the same transformation to test data
type_y0 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x0.shape) #print just to check if both the column sizes match for train and test
print(type_y0.shape)

(4209, 47)
(4209, 47)

In [12]:
lb.fit(a['X1']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X1']) #Applying the transform to the column
type_x1 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X1']) #Applying the same transformation to test data
type_y1 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x1.shape) #print just to check if both the column sizes match for train and test
print(type_y1.shape)

lb.fit(a['X2']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X2']) #Applying the transform to the column
type_x2 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X2']) #Applying the same transformation to test data
type_y2 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x2.shape) #print just to check if both the column sizes match for train and test
print(type_y2.shape)

lb.fit(a['X3']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X3']) #Applying the transform to the column
type_x3 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X3']) #Applying the same transformation to test data
type_y3 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x3.shape) #print just to check if both the column sizes match for train and test
print(type_y3.shape)

lb.fit(a['X4']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X4']) #Applying the transform to the column
type_x4 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X4']) #Applying the same transformation to test data
type_y4 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x4.shape) #print just to check if both the column sizes match for train and test
print(type_y4.shape)

lb.fit(a['X5']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X5']) #Applying the transform to the column
type_x5 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X5']) #Applying the same transformation to test data
type_y5 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x5.shape) #print just to check if both the column sizes match for train and test
print(type_y5.shape)

lb.fit(a['X6']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X6']) #Applying the transform to the column
type_x6 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X6']) #Applying the same transformation to test data
type_y6 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x6.shape) #print just to check if both the column sizes match for train and test
print(type_y6.shape)

lb.fit(a['X8']) #Fitting it to the column for categorical data. 
lbin = lb.transform(a['X8']) #Applying the transform to the column
type_x8 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF with transformed values

lbin = lb.transform(b['X8']) #Applying the same transformation to test data
type_y8 = pd.DataFrame(data = lbin, columns = lb.classes_) #Creating a new DF to call later

print(type_x8.shape) #print just to check if both the column sizes match for train and test
print(type_y8.shape)

(4209, 27)
(4209, 27)
(4209, 44)
(4209, 44)
(4209, 7)
(4209, 7)
(4209, 4)
(4209, 4)
(4209, 29)
(4209, 29)
(4209, 12)
(4209, 12)
(4209, 25)
(4209, 25)

In [13]:
mainx_df = pd.concat([a, type_x0, type_x1, type_x2, type_x3, type_x4, type_x5, type_x6, type_x8], axis = 1)

y = a['Y']

mainx_df.drop(labels = ['Y','X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], axis = 1, inplace = True)

print(a.shape)
print(mainx_df.shape)
# mainx_df

(4209, 378)
(4209, 564)

In [14]:
mainy_df = pd.concat([b, type_y0, type_y1, type_y2, type_y3, type_y4, type_y5, type_y6, type_y8], axis = 1)

mainy_df.drop(labels = ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], axis = 1, inplace = True)

print(b.shape)
print(mainy_df.shape)
# mainy_df

(4209, 377)
(4209, 564)

In [126]:
print(mainx_df.shape)
print(mainy_df.shape)

(4209, 564)
(4209, 564)

In [0]:
# from sklearn.decomposition import PCA

# pca = PCA()      
# pca.fit(mainx_df)       #Using PCA to 'fit' the 'train'
# pca_df = pca.transform(mainx_df)   #Applying the PCA transform to train


# X = pca_df

In [0]:
# pca1_df = pca.transform(mainy_df)  #Applying PCA transform to test

In [0]:
# pca_df

In [0]:
# print(pca_df.shape)
# print(pca1_df.shape)

In [0]:
scaler = StandardScaler()
scaler.fit(mainx_df)

mainx_df = scaler.transform(mainx_df)
mainy_df = scaler.transform(mainy_df)

In [0]:
train_x = mainx_df[:3500]
train_y = y[:3500]
test_x = mainx_df[3500:]
test_y = y[3500:]

# train_x  = pca_df
# train_y = y

In [133]:
print(train_x.shape)
print(train_y.shape)
# print(test_x.shape)
# print(test_y.shape)

(3500, 564)
(3500,)

In [0]:
# model=Sequential()

In [0]:
# model.add(Dense(256, activation='sigmoid',input_dim=564, kernel_initializer='normal')) #dense class is used for fully connected networks; input_dim defines # of input variables it has 12 neurons
# model.add(BatchNormalization())
# model.add(Dropout(0.7))
# model.add(Dense(128, activation='relu', kernel_initializer='normal'))
# model.add(BatchNormalization())
# model.add(Dropout(0.7))
# model.add(Dense(64, activation='relu',kernel_initializer='normal'))
# model.add(BatchNormalization())
# model.add(Dropout(0.7))
# model.add(Dense(32, activation='relu',kernel_initializer='normal'))
# model.add(BatchNormalization())
# model.add(Dropout(0.7))
# model.add(Dense(1, activation='softmax'))

In [0]:
from keras import optimizers
adam = optimizers.adam(lr=0.001)

In [0]:
model = Sequential() 
model.add(Dense(500, input_dim=564, kernel_initializer='normal', activation='sigmoid'))
model.add(Dense(300, kernel_initializer='normal', activation='sigmoid'))
model.add(Dense(150, kernel_initializer='normal', activation='sigmoid'))
model.add(Dense(75, kernel_initializer='normal', activation='sigmoid'))
model.add(Dense(1, kernel_initializer='normal', activation='elu'))
# model.compile(loss='mean_squared_error', optimizer=adam, metrics=['accuracy'])

In [0]:
# model.add(Dense(64, activation='sigmoid', kernel_regularizer=regularizers.l2(0.0001))) #relu is activation function for the first 2 layers also it has 8 neurons
# model.add(Dense(64, activation='relu', kernel_regularizer=regularizers.l2(0.0001))) #relu is activation function for the first 2 layers also it has 8 neurons

In [0]:
# model.add(Dense(32, activation='sigmoid'))
# model.add(Dense(32, activation='relu'))

In [0]:
# model.add(Dense(16, activation='sigmoid'))
# model.add(Dense(16, activation='relu'))

In [0]:
# model.add(Dense(8, activation='sigmoid'))
# model.add(Dense(8, activation='relu'))

In [0]:
# model.add(Dense(1, activation='softmax'))
# model.add(Dense(1, activation='relu'))

In [0]:
model.compile(loss='mean_squared_error', optimizer=adam, metrics=['mse'])

In [143]:
model.fit(train_x, train_y.values, epochs=30, batch_size=10, verbose=2,validation_split=0.05)

Train on 3325 samples, validate on 175 samples
Epoch 1/30
 - 5s - loss: 8564.8452 - mean_squared_error: 8564.8452 - val_loss: 6657.0756 - val_mean_squared_error: 6657.0756
Epoch 2/30
 - 3s - loss: 5528.0249 - mean_squared_error: 5528.0249 - val_loss: 4066.2722 - val_mean_squared_error: 4066.2722
Epoch 3/30
 - 3s - loss: 3301.1940 - mean_squared_error: 3301.1940 - val_loss: 2243.7924 - val_mean_squared_error: 2243.7924
Epoch 4/30
 - 3s - loss: 1819.5543 - mean_squared_error: 1819.5543 - val_loss: 1149.1831 - val_mean_squared_error: 1149.1831
Epoch 5/30
 - 3s - loss: 911.5472 - mean_squared_error: 911.5472 - val_loss: 517.2061 - val_mean_squared_error: 517.2061
Epoch 6/30
 - 3s - loss: 451.7723 - mean_squared_error: 451.7723 - val_loss: 253.7418 - val_mean_squared_error: 253.7418
Epoch 7/30
 - 3s - loss: 262.2692 - mean_squared_error: 262.2692 - val_loss: 158.3151 - val_mean_squared_error: 158.3151
Epoch 8/30
 - 3s - loss: 191.0662 - mean_squared_error: 191.0662 - val_loss: 130.9895 - val_mean_squared_error: 130.9895
Epoch 9/30
 - 3s - loss: 171.8453 - mean_squared_error: 171.8453 - val_loss: 129.0427 - val_mean_squared_error: 129.0427
Epoch 10/30
 - 3s - loss: 168.3783 - mean_squared_error: 168.3783 - val_loss: 130.3004 - val_mean_squared_error: 130.3004
Epoch 11/30
 - 3s - loss: 167.9260 - mean_squared_error: 167.9260 - val_loss: 130.9230 - val_mean_squared_error: 130.9230
Epoch 12/30
 - 3s - loss: 167.9150 - mean_squared_error: 167.9150 - val_loss: 130.9560 - val_mean_squared_error: 130.9560
Epoch 13/30
 - 3s - loss: 167.9221 - mean_squared_error: 167.9221 - val_loss: 131.1716 - val_mean_squared_error: 131.1716
Epoch 14/30
 - 3s - loss: 167.9258 - mean_squared_error: 167.9258 - val_loss: 131.1000 - val_mean_squared_error: 131.1000
Epoch 15/30
 - 3s - loss: 167.9443 - mean_squared_error: 167.9443 - val_loss: 131.0172 - val_mean_squared_error: 131.0172
Epoch 16/30
 - 3s - loss: 167.9213 - mean_squared_error: 167.9213 - val_loss: 130.5057 - val_mean_squared_error: 130.5057
Epoch 17/30
 - 3s - loss: 167.9853 - mean_squared_error: 167.9853 - val_loss: 130.5090 - val_mean_squared_error: 130.5090
Epoch 18/30
 - 3s - loss: 167.9709 - mean_squared_error: 167.9709 - val_loss: 131.2587 - val_mean_squared_error: 131.2587
Epoch 19/30
 - 3s - loss: 167.9963 - mean_squared_error: 167.9963 - val_loss: 131.1595 - val_mean_squared_error: 131.1595
Epoch 20/30
 - 3s - loss: 163.7343 - mean_squared_error: 163.7343 - val_loss: 84.9926 - val_mean_squared_error: 84.9926
Epoch 21/30
 - 3s - loss: 95.9570 - mean_squared_error: 95.9570 - val_loss: 61.6923 - val_mean_squared_error: 61.6923
Epoch 22/30
 - 3s - loss: 86.0882 - mean_squared_error: 86.0882 - val_loss: 59.3644 - val_mean_squared_error: 59.3644
Epoch 23/30
 - 3s - loss: 83.5455 - mean_squared_error: 83.5455 - val_loss: 88.6839 - val_mean_squared_error: 88.6839
Epoch 24/30
 - 3s - loss: 80.2532 - mean_squared_error: 80.2532 - val_loss: 55.9979 - val_mean_squared_error: 55.9979
Epoch 25/30
 - 3s - loss: 73.7204 - mean_squared_error: 73.7204 - val_loss: 53.5413 - val_mean_squared_error: 53.5413
Epoch 26/30
 - 3s - loss: 71.2388 - mean_squared_error: 71.2388 - val_loss: 56.3259 - val_mean_squared_error: 56.3259
Epoch 27/30
 - 3s - loss: 68.5336 - mean_squared_error: 68.5336 - val_loss: 59.6700 - val_mean_squared_error: 59.6700
Epoch 28/30
 - 4s - loss: 65.9891 - mean_squared_error: 65.9891 - val_loss: 57.5667 - val_mean_squared_error: 57.5667
Epoch 29/30
 - 3s - loss: 63.2047 - mean_squared_error: 63.2047 - val_loss: 63.0327 - val_mean_squared_error: 63.0327
Epoch 30/30
 - 3s - loss: 60.8919 - mean_squared_error: 60.8919 - val_loss: 59.1438 - val_mean_squared_error: 59.1438

In [0]:
from sklearn import metrics

expected = test_y
predicted = model.predict(test_x)

In [0]:
from sklearn.metrics import r2_score

In [146]:
r2_score(expected,predicted)

0.5639148831149132

In [0]:
qw =model.predict(mainy_df)
qw  = pd.DataFrame(data = qw, columns = ['y'])

In [0]:
final = pd.concat([b['ID'], qw], axis =1)

In [0]:
final.to_csv('final.csv')
files.download('final.csv')